; example.                          1H   IN   SOA        miek miek 1 2 3 4 5
;                                        IN   NS         ns.example.com.
;                                        IN   NS         ns.example.net.
;                                        IN   MX         10 host1.example.
; sub.*.example.                         IN   TXT        "this is not a wildcard"
; host1.example.                         IN   A          192.0.2.1
; _ssh._tcp.host1.example.               IN   SRV        10 5 43 example
; _ssh._tcp.host2.example.               IN   SRV        10 5 32 example
; subdel.example.                        IN   NS         ns.example.com.
;                                        IN   NS         ns.example.net.
; b.example.                            IN   TXT        "this is not a wildcard"
; *.b.example.                          IN   TXT        "this is a wildcard"
; c.b.example.                          IN   TXT        "do I see this"
; c.b.example.                          IN   A        127.0.0.1
; d.example.                            IN   TXT        "this is not a wildcard"
; *.d.example.                          IN   TXT        "this is a wildcard"
;
;
$ORIGIN example.
@                        1H   IN   SOA        miek miek (
                                                 3            ; serial  
                                                 2            ; refresh
                                                 3            ; retry
                                                 4            ; expire
                                                 5            ; minimum
                                                 )
                              IN   RRSIG      SOA 16 1 3600 20251008152815 20250910152815 7095 @ (
                                                 3QyGt6+UNRqST/tex+lDZ4fyrSs5nyyxRBXTho8UTW1S99+koArKyoN
                                                 MxIOXN2XiBdlsnvvaNa+Af9V1yR9TXsVXqm45lNvFY4lZcVpUXuyO2v
                                                 gZJSOiZDypOh/hdaNpfPHyt6SMzETSbhpw548caxsA
                                                 )
                              IN   NS         ns.example.com.
                              IN   NS         ns.example.net.
                              IN   RRSIG      NS 16 1 3600 20251008152815 20250910152815 7095 @ (
                                                 ppZadRdebjKZPDUqzn4bLKsST1dWyqrC0eG/jFeBQgoUhKhcZVPKMQb
                                                 55srFbSIS4aO5gQJ7NoQAfS3wOo21IawfC7U0OFcAtBxV1SrPIG3gFq
                                                 m3QLMMKOuySZliPVw09xBfLuf/5GGjgKMMQn6eoDQA
                                                 )
                              IN   MX         10 host1
                              IN   RRSIG      MX 16 1 3600 20251008152815 20250910152815 7095 @ (
                                                 r+6q/Hpl8DuiCCAu+btKHVkn+p3otuuMRu/gCDEpihW7ZYNBGeT8Txb
                                                 IFYrvcqvyGb0JPCBDoUOAgbwiI3XZBUmlqVwxn7HEWLiXWwq+BZVfQY
                                                 G3c3z3ZvHG4Ot4qP3yz7lJOsuRIKHb4Z7/6Y6uiTEA
                                                 )
                              IN   DNSKEY     256 3 16 (
                                                 1XK8DVxVoQxvYRPuH9m/vPxZFX33oYuKyNMh6yQdOgBJXZ9302sTfIk
                                                 X7MDd4GMmJNbLX1478vCA
                                                 )
                              IN   RRSIG      DNSKEY 16 1 3600 20251008152815 20250910152815 7095 @ (
                                                 XTaahBZP3VR2e2RIDSAWCZghswqeJf3/nW6G9tSeheSGnwkNqnhBwRg
                                                 6jrsPhFCuJOGnkTz/fz8AoHR6vS9Ji4uEyMBLNfGJmWaavN1RnZvDuO
                                                 eO0fPp5qiY4GJSBuFjMGzAjVBcjm9dRfaxtOP8zScA
                                                 )
                          5   IN   NSEC       sub.* NS SOA MX RRSIG NSEC DNSKEY
                              IN   RRSIG      NSEC 16 1 5 20251008152815 20250910152815 7095 @ (
                                                 vab6kNsy2t9oJFdAABHGdn/xDqjxKtvyuq1N8QNFXVmRroAcD5J56vQ
                                                 HY8fn2WCuMUlWNdNpYR+ANQOK8z620lGle/PQgoIi5DOz1V2EQ+bzRR
                                                 mzHft79ZoAO5/xis8gY8XzcWoKGJB1qf8d+PrwTSAA
                                                 )

sub.*                    1H   IN   TXT        "this is not a wildcard"
                              IN   RRSIG      TXT 16 3 3600 20251008152815 20250910152815 7095 @ (
                                                 bwdUvxBeW3PznU/dlYhTPCY0Tz4e9yjIqq97xuOivyQigX9cWssIBMl
                                                 Gt0QUDw1NxEzqTzvdUk4AlZcjIv41h8f+mcfxxmU49V4VEhIjlWdEgG
                                                 wT6uYqcpACKtTnxQao1dIKEVSm3Wuu9V+m6SaUoiYA
                                                 )
                          5   IN   NSEC       b TXT RRSIG NSEC
                              IN   RRSIG      NSEC 16 3 5 20251008152815 20250910152815 7095 @ (
                                                 xRLRy2oGntlkguLnJfbt0qmNyt4I9sbDUCqShlxOdSG2C5HYBlI752t
                                                 SUz/L3UD96BUYAk6WVyCA3qcNrm43/gpIaLfzHeZw/HJi+2ecsmuapw
                                                 TyuIG/Kkdla4XiLi65+JrrgSmAXEIYK2k4VHniWSUA
                                                 )

b                        1H   IN   TXT        "this is not a wildcard"
                              IN   RRSIG      TXT 16 2 3600 20251008152815 20250910152815 7095 @ (
                                                 AyvKTb4mTldT+c9SnITA6Msp+1ckEHPgCKeuk+4YgJNw0mR6fUlinmw
                                                 S/yYR3hkuNFnSr+jWvvKASBGVTpdMLVmPKHS9kYLNX1xabZlX3iKCAY
                                                 +TxaK7cWmpkslYHQMDjX7WczcPQyXmxl2dlEPwNCsA
                                                 )
                          5   IN   NSEC       *.b TXT RRSIG NSEC
                              IN   RRSIG      NSEC 16 2 5 20251008152815 20250910152815 7095 @ (
                                                 D/C3VS8B8TR5nOnRtbXJIfV8sUjSKD97ayQ8KvXKdUM9dYqLx33CEIK
                                                 U3lifKX2HFiVYLBzoZQUAmHXZA2JqgAAQJOpWcceBZFqMzJkUQ4Bkr6
                                                 aprC6pWu63iD/SczBv1J6Ceiwp4/0OMshSHIcLKxwA
                                                 )

*.b                      1H   IN   TXT        "this is a wildcard"
                              IN   RRSIG      TXT 16 2 3600 20251008152815 20250910152815 7095 @ (
                                                 jtTKp8GSpBFQGN/Bhruc7hCwtMp31GkqoCHRJBX40EMjgE+zBss3a2d
                                                 vFG1kCzDXbkVUZizhKDAA2p7zhgWAb7e2vItlTD+OJnR1M6r0FhzFcs
                                                 D2mBTPWRZ5S5YosfBDyX9ylQAXGpl2BgTaoplz4hgA
                                                 )
                          5   IN   NSEC       c.b TXT RRSIG NSEC
                              IN   RRSIG      NSEC 16 2 5 20251008152815 20250910152815 7095 @ (
                                                 2wCIwAqkQspyWFWkRkd5oD9wYIJTOHYG7gOvdvceypmX+IlJMAfKOFn
                                                 NI+tbQpDrs3kQ2Rk8tXIANtboIlCl3KgTuR1qfKGAqR5wUcnN/ioFPU
                                                 lwTEJAJjwt16ncs3oUq9IOvWHlm+MVQ+NsuxcEawwA
                                                 )

c.b                      1H   IN   A          127.0.0.1
                              IN   RRSIG      A 16 3 3600 20251008152815 20250910152815 7095 @ (
                                                 A0eTWu1sFpYQxepvM+zhKzjAM7jbAeo072sRIxIHAjMbjY1mas+8kpI
                                                 5MRjC2i/T81mE6KLKGxUAHOoiP05c67f6mzpkvpKrlVx6ff22EXc9KK
                                                 XTvL+x4MWcDsZOcF7E1rBMHOOfsn35qrIcL4B1gTMA
                                                 )
                              IN   TXT        "do I see this"
                              IN   RRSIG      TXT 16 3 3600 20251008152815 20250910152815 7095 @ (
                                                 t0bE9+GNX9DK9No0AZ6dYOjCb2ZZ4VGJHAfFVa6Lf8R2Wo0z0O5hHmG
                                                 Q7v4JDoNQqy1nvYXXhjsAU4VqYMW0ZNA6aiMxe6B1zTtunfdc01SBw7
                                                 z0MwvXk6C8fmn7WaC4mTXz9FQT5W/MUZcYYtLXTDwA
                                                 )
                          5   IN   NSEC       d A TXT RRSIG NSEC
                              IN   RRSIG      NSEC 16 3 5 20251008152815 20250910152815 7095 @ (
                                                 pm+sGFdV8P2NPP0kfLv7hI0iyfhpUdCSu+FeI29P2Bz6TWERJys6z3O
                                                 TZKeyUP6u+fIjtv8lU5MAStMfRjeM1SxK5qZq/s+h5BVgWn++VyiTuJ
                                                 pvqHiZj12rEMQBf9Nkk4TZbSlYyvqIOv+hg9UtTw8A
                                                 )

d                        1H   IN   TXT        "this is not a wildcard"
                              IN   RRSIG      TXT 16 2 3600 20251008152815 20250910152815 7095 @ (
                                                 fqzgDfShn+L0KQJ0lYO2Vn2oywJufDDzPi+KRmn2pvBN/PtitvYZudV
                                                 sI27zsAskueFSpHVFo28AxsXSSAsZe371xPjfEcJtszEsNVTrOuRAKF
                                                 fg1xQIEMAQ1nSE7iVQ18OpuZc0UFqa1bPVDWnvhzoA
                                                 )
                          5   IN   NSEC       *.d TXT RRSIG NSEC
                              IN   RRSIG      NSEC 16 2 5 20251008152815 20250910152815 7095 @ (
                                                 gG7L4x/46yTOZ9YGA8JD/LvQ5xUWQd25l+Q3cYopRyUg06D2UxseWgv
                                                 M2Hv5Zp/qBPtrSLVfvDCASiPDeKdZH/iK0vY7fvzsv1037vhnw6bMjC
                                                 q7/DUL++wh+SkubJMSS74KiCfwCjO9itUaF7rPvC0A
                                                 )

*.d                      1H   IN   TXT        "this is a wildcard"
                              IN   RRSIG      TXT 16 2 3600 20251008152815 20250910152815 7095 @ (
                                                 1gsP+drOy45P9UDN9Kx/4Mz0iSmYRSm34ZRaj8ecCrnIEUgKyzhCUap
                                                 vV3MFwRJu2H+zSrRcx4cAd5O19+REbbmgna40PsixsLGqePs/1gXtNI
                                                 9nWZokT102Nj1XbRkthNFvz9AWlboJwwLFrPI+vjsA
                                                 )
                          5   IN   NSEC       host1 TXT RRSIG NSEC
                              IN   RRSIG      NSEC 16 2 5 20251008152815 20250910152815 7095 @ (
                                                 /TjeDDQ1T0knqzvuh7cXSWpVbmwkdVDNgVaU4+RwPIKytn1xyWzObvt
                                                 6IK3AbXeYgp77n3NP9p0AaxxBQgtKP2n2HZtfIr4wX2ITHWwnuZYjbu
                                                 xwCWP/8S8fA/7fVzClQc+M0t6nhKeSRaTYj1uRny8A
                                                 )

host1                    1H   IN   A          192.0.2.1
                              IN   RRSIG      A 16 2 3600 20251008152815 20250910152815 7095 @ (
                                                 PKWLgd/6MPZST7teLC5FBtps1r6JjMZCMYhJ5vN3Z0/K0biH/G/+tL9
                                                 eoPVVreqKlVcuTzssnC+A6WDiu08b+xWBzhULGYbAvL59nHAwGQXBYH
                                                 5ODg0ny76nGweEc4clRq/Osns0KKxhft3JQG8fjy8A
                                                 )
                          5   IN   NSEC       _ssh._tcp.host1 A RRSIG NSEC
                              IN   RRSIG      NSEC 16 2 5 20251008152815 20250910152815 7095 @ (
                                                 dm8tX8o9li0s5uZEseQWuDyblDlT1gzJ6BmdZZVao+XwK4+6QpN4zye
                                                 /+OoLiK4sKtI15I4o0BqA5jJbaEs1yqA7cLRsSoves1uv3r+eYUrjUO
                                                 YfyTrMCcnJjtqWhxgt+h1rKGOodD3cG/GvFR9HRQ0A
                                                 )

_ssh._tcp.host1          1H   IN   SRV        10 5 43 example
                              IN   RRSIG      SRV 16 4 3600 20251008152815 20250910152815 7095 @ (
                                                 uN6JRzL3rn7Ok2pnxy2Llj7NTUGFY1RjuX+rVcxzk2S/HWYaBfSIOvL
                                                 iLMgFTLArBcgFoli4EHOAlrhii9SNY+56nz+LpFd63XtPXPBGUHG2vF
                                                 0tCw270IQlfR431hxr/ErnQLf8nFLbRdOgI2U0zSoA
                                                 )
                          5   IN   NSEC       _ssh._tcp.host2 SRV RRSIG NSEC
                              IN   RRSIG      NSEC 16 4 5 20251008152815 20250910152815 7095 @ (
                                                 zEQXZKLHZ+ApLKAhv/VXDG7P7OzWsYiaH+ii8ibksWI+Om0HdWwcu80
                                                 B8P5ZabbMgdfQJse0OD8AG2x2FIqU4iIe5ety4R+pIC2Al2QviV7BtA
                                                 puWGIn7uzj28Mc9euRrHY54wo/2Ttfk2ANA6L3eAIA
                                                 )

_ssh._tcp.host2          1H   IN   SRV        10 5 32 example
                              IN   RRSIG      SRV 16 4 3600 20251008152815 20250910152815 7095 @ (
                                                 I5wzodc1Y3IzbEnAVFhud0oP+WVfHYDBYRkS7d+AuSW+iCMVY6r105m
                                                 47CujcmuW++sXEu+BnMiAyNOYob+1+rOXMdVxOm1OUBaF/cdYlImHdQ
                                                 h7ivWUNtK3JAeuJ/YqlHPaJL1xrNOBBm0utGFxXjUA
                                                 )
                          5   IN   NSEC       subdel SRV RRSIG NSEC
                              IN   RRSIG      NSEC 16 4 5 20251008152815 20250910152815 7095 @ (
                                                 XObHcwh4vV7td01x0/Rfnx732Bq8Wn3ot/NckowRN6dRBUSnI1EPNoO
                                                 WJLPFOSOY/yJMhgUtGcqAJOCugIaIryphRoNbdbxFxOhS0ytlTZsbOd
                                                 x0/cSfs1ajuLJ9jkxCiEqPMY3E2pcznhJk8oT0ficA
                                                 )

subdel                   1H   IN   NS         ns.example.com.
                              IN   NS         ns.example.net.
                          5   IN   NSEC       @ NS RRSIG NSEC
                              IN   RRSIG      NSEC 16 2 5 20251008152815 20250910152815 7095 @ (
                                                 2YxUsi0eaYn/Y7o7Q/g9w+WrzIiOxWxsULa4avR0uH2CcYp7rU13zAy
                                                 Z/AgWeeN/+ujbI59LQMgA4YYCZnyyYvE6FXFbTkBnC/8/pdZL8eAC+Q
                                                 ODAH5jjZHs1ndJBk2jmfQv0csiezelKhaHObivFQgA
                                                 )
