;; QUERY, rcode: NXDOMAIN, id: {{.ID}}, flags: qr rd ra

;; QUESTION SECTION:
{{.Name}}                {{.Class}}      {{.Type}}

;; ANSWER SECTION:
miek.nl.        11381   IN      MX      10 aspmx2.googlemail.com.
