Source: atomdns
Section: net
Maintainer: Miek Gieben <miek@miek.nl>
Build-Depends: debhelper (>= 9), lsb-release, dh-sysuser

Package: atomdns
Architecture: any
Description: DNS server that chains handlers
Recommends: bind9-dnsutils
Pre-Depends: adduser, sysuser-helper
